body{background-color: rgb(210,180,140)}


h1{
  font-family: courier;
  font-size: 20px;
  color: rgb(160,82,45);
}

h2{
  font-family: helvetica;
  font-size: 15px;
  color: rgb(160,82,45);
}

a{
  color: rgb(160,82,45);
}

a:hover{
  color: rgb(139,69,19);
}
