html{
	background-color: lightblue;
}

@keyframes moving{
	0%{
		transform: translate(-30px, 0);
	}

	100%{
		transform: translate(100vw,0);
	}
}

@keyframes leg2{
	0%{
		transform: rotate(-5deg);
	}

	50%{
		transform: rotate(5deg);
	}

	100%{
		transform: rotate(-5deg);
	}
}

@keyframes leg1{
	0%{
		transform: rotate(5deg);
	}

	50%{
		transform: rotate(-5deg);
	}

	100%{
		transform: rotate(5deg);
	}
}

@keyframes timeOfDay{
	0%{
		background-color: lightblue;
	}

	30%{
		background-color: #6985AB;
	}

	80%{
		background-color: #B8C173;
	}

	100%{
		background-color: #21204C;
	}
}

html{
	background-color: lightblue;
	animation-name: timeOfDay;
	animation-duration: 7s;
}

#ground{
	width:100vw;
	height: 10px;
	background-color: #55585B;
}

#wrapper{
	position: relative;
	height: 400px;
	width: 100px;
	animation-name: moving;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

#head{
	width: 100px;
	height: 100px;
	background-color: #9BA8B9;
	border-radius: 50%;
}

#body{
	height: 150px;
	width: 100px;
	background-color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.legs{
	height:150px;
	width:50px;
	background-color: #394656;
	display: inline-block;
}

#leg1{
	animation-name: leg1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;

}

#leg2{
	background-color: #1C304A;
	animation-name: leg2;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

.foot{
	position: absolute;
	left:10px;
	bottom: 0;
	background-color: pink;
	width: 50px;
	height: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}